
body {
    font-family: Arial, sans-serif;
    padding: 2%;
}
.hover-area {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px;
    transition: background-color 0.3s;
}
.hidden-button {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    bottom: 30px;
}
.hover-area:hover .hidden-button {
    opacity: 1;
}
.quick-bar {
    display: flex;
    flex-direction: row;
}
.quick-bar-section {
    margin-right: 4vw;
    padding: 2%;
    border: 3px solid #ccc;
    border-radius: 10px;
}
.project-container {
    display: flex;
    flex-direction: row;
}
.project {
    border: 3px solid #ccc;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.spacer {
    height: 100px;
}