<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='ToolBoard.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block stylesheet %}{% endblock %}
    
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
    <main>
        {% block content %}
        <!-- Default content or empty block -->
        {% endblock %}
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
