{% extends "base.html" %}

{% block title %}<title>Create a Tool</title>{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='create_tool.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <style>
        .CodeMirror {
            border: 1px solid #ccc;
            height: auto;
            min-height: 200px; /* Set a minimum height for the editor */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <h1 class="mt-5">Create a Tool</h1>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="name">Tool Name</label>
                <input type="text" class="form-control" id="name" name="name" required>

                <label for="script">Script</label>
                <textarea id="script" name="script" style="display: block;"></textarea>

                <label for="ui_script">UI Script</label>
                <textarea id="ui_script" name="ui_script" style="display: block;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a href="/" class="btn btn-primary mt-3">Done</a>
        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
    <script>
        const scriptEditor = CodeMirror.fromTextArea(document.getElementById('script'), {
            lineNumbers: true,
            mode: 'javascript',
            theme: 'default',
            lineWrapping: true
        });

        const uiScriptEditor = CodeMirror.fromTextArea(document.getElementById('ui_script'), {
            lineNumbers: true,
            mode: 'javascript',
            theme: 'default',
            lineWrapping: true
        });

        // Override the form submission to send the CodeMirror content
        document.querySelector('form').addEventListener('submit', function() {
            document.getElementById('script').value = scriptEditor.getValue();
            document.getElementById('ui_script').value = uiScriptEditor.getValue();
        });
    </script>

{% endblock %}