<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToolBoard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body style="padding: 2%;">
    <h1>Welcome to ToolBoard</h1>
    <a href="/create_tool" class="btn btn-primary mt-3">Create a new tool!</a>
    <a href="/create_project" class="btn btn-primary mt-3">Create a new project!</a>
    
    <div class="spacer"></div>

    <h1>Your Projects</h1>
    <div class="project-container">
        {% for project in projects %}
            <a href="/project/{{ project.id }}" class="btn project">{{ project.name }}</a>
        {% endfor %}
    </div>
</body>
</html>
