
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(202, 164, 120);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 5vw);
    grid-auto-rows: 5vw;
    width: 100vw;
    height: 100vh;
    padding: 2.5vw;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; /* Set positioning context for the box */
}
.dot {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
}
.tool {
    position: absolute;
    background-color: rgb(240, 240, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.resize-handle {
    width: 14px;
    height: 14px;
    position: absolute;
    cursor: nwse-resize;
    bottom: 0px;
    right: 0px;
    background-color: rgb(212, 212, 212);
    border-radius: 2px;
    border-bottom-right-radius: 10px;
}
.tool-title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(212, 212, 212);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.nav-bar {
    position: absolute;
    bottom: 40px;
    right: 40px;
}